{{>header}}

{{>dashboard-title}}

{{#if userloggedin}}

<p class="comment-heading">Your posts</p>
{{#each userpost as |post|}}
   <div class="user-posts">
       <a href="/updatepost/{{post.id}}"><div class="user-post-heading">
           <p>{{post.heading}}</p> 
       </div></a>
   </div>
{{/each}}
<div id="new-post-button-div">
    <button id="new-post">+ New Post</button>
</div>

{{else}}
<h3 class="dashboard-message"> Login to view dashboard</h3>
{{/if}}

