{{>header}}

{{>dashboard-title}}

{{#if userloggedin}}
    <div class="blog-posts">
        <div class="blog-post-heading">
            <p>Add new comment</p>
        </div>
        <div class="blog-post-text">
            <form id="new-post-form">
                <label for="blog-text">Comment</label>
                <textarea id="new-post-text" name="blog-text" rows="4" cols="50"></textarea>
                <button id="add-comment-submit">Add comment</button>
            </form>
         </div>
    </div>

{{else}}
<a href="/signin">Sign-in</a>
{{/if}}