{{>header}}
{{>signup-title}}

<!-- /////////////////////////SIGN-UP SECTION////////////////////////// -->
    <div class="signup">
        <a href=""><div class="signup-heading">
            <p>Sign-up</p> 
        </div></a>
        <div class="signup-fields">

            <form>
                <label for="name">Name</label>
                <input id='name' name="sign-up-name" type="text">
                <label for="email">Email</label>
                <input id='email' name="sign-up-email" type="text">
                <label for="password">Password</label>
                <input id='password' name="sign-up-password" type="password">
                <button id="sign-up-submit">Sign up</button>
                <p id="message"></p>

            </form>
        </div>
    </div>
