{{>header}}
{{>signin-title}}

<!-- /////////////////////////SIGN-IN SECTION////////////////////////// -->

<div class="signup">
    <a href=""><div class="signup-heading">
        <p>Sign-in</p> 
    </div></a>
    <div class="signup-fields">

        <form>
            <label for="email">Email</label>
            <input id="sign-in-email" name="sign-in-email" type="text">
            <label for="password">Password</label>
            <input id="sign-in-password" name="sign-in-password" type="password">
            <button id="sign-in-submit">Sign in</button>
        </form>

        <p id="login-fail-text"></p>
    </div>
</div>
